<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
</head>
<body style="background: #f5faff">
  <div style="text-align: center;">
    <img src="<%= @base_url %>/qr<%= @query %>" style="width: 350px;">
    <br>
    <span style="color: #353535; font-size: 16px;">Your QR Code</span>
  </div>
</body>
</html>
